<!DOCTYPE html>
<html>
<head>
        <link rel=stylesheet type="text/css" href="static/css/style.css">
        <meta charset="UTF-8">
        <title>Amistad</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    </head>

<body>
        <header>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu"><img src="img/icon_menu.png" style="width: 100%;" alt=""/></label>
            <nav class="menu">
                <ul>
                    <li><a href="/inicio">Inicio</a></li>
                    <li><a href="/talleres">Talleres</a></li>
                    <li><a href="/referencias">Referencias</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <img style="width: 60%; display: block; margin-left: auto; margin-right: auto; margin-top: 20px;" src="https://www.nacion.com/resizer/i0MVFa6AgkOFKuvsETU_urXNRg4=/1440x0/filters:format(jpg):quality(70)/cloudfront-us-east-1.images.arcpublishing.com/gruponacion/6JNUOVXMTVB6ZLJRTFWSAGXW24.jpg">
        <h1>¿Como decirles a mis amigos que me siento mal?</h1>
        <p>Para comenzar debes tener la certeza de a quien le contaras como te sientes, puedes intentar hablar del tema y después compartir que te has sentido así. También, puedes comentarle como te has sentido.<br>
        Intenta que tu amig@ te escuche y si se muestra incomod@, intenta decirle lo importante que es que estés contando como te sientes y explica cual es la razón de decirle.<br>
        Platica si has investigado que puede estarte sucediendo o si has realizado algo por solucionarlo
        </p>
        <br>
        <h2>Respuestas</h2>
        <div class="tab-cel">
                <div>
                        <h3>Positivas</h3>
                        <p>Puede tu amigo ofrecerte un apoyo extra, contarte que se a sentido igual o incluso que esta superando lo mismo que sientes.</p>
                </div>
                <div>
                        <h3>Negativas</h3>
                        <p>Quizás su respuesta sea un: "No puedo ayudarte" y no te debes sentir mal, quizás no sabe como ofrecer apoyo y sentir que no vale mucho lo que intente.</p>
                </div>
        </div>
        <div class="snt-cau">
                <div style="flex: 1; margin-left: 10px; text-align: justify;">
                        <h4>¿Que relevancia puede tener?</h4>
                        <p>Te ayudara a saber que tienes alguien que conoce tu situación y que podría llegar a apoyarte, incluso mejor en ocasiones tu estado de animo</p>
                        <img style="width: 250px; display: block; margin-left: auto; margin-right: auto;" src="https://www.wikihow.com/images_en/thumb/d/d5/Tell-Someone-You-Don%27t-Want-to-Be-Their-Friend-Without-Hurting-Their-Feelings-Step-1-Version-3.jpg/v4-460px-Tell-Someone-You-Don%27t-Want-to-Be-Their-Friend-Without-Hurting-Their-Feelings-Step-1-Version-3.jpg.webp">
                </div>
                <div style="flex: 1.2;">
                        <h4>¿Que puede hacer por mi?</h4>
                        <ul>1. Escuchar con suma atención y empalizar con tu situación.</ul>
                        <ul>2. Aplaudir tus victorias.</ul>
                        <ul>3. No intentar arreglar tus problemas, te podría hacer sentir peor.</ul>
                </div>
        </div>
        <h3>Ventajas</h3>
        <p>Te pueden ayudar a romper la rutina de tu trastorno</p>
        <p>Te pueden dar el espacio que necesitas</p>
        <h2>Este video puede ser de ayuda para ti y tus amistades</h2>
        <iframe id="ytb-resp" width="560" height="315" src="https://www.youtube.com/embed/gjcBZFHHppM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <div style="margin: 50px;"></div>
</body>
<footer>
        Prevenir la ansiedad y depresión en jóvenes de 15 a 24 años<br>
        &#169 Luis Fernando Garcia Garcia
</footer>
</html>
<style type="text/css">
	.tab-cel{
		color: #000;
	}
</style>