<!DOCTYPE html>
<html>
<head>
        <link rel=stylesheet type="text/css" href="static/css/style.css">
        <meta charset="UTF-8">
        <title>Inicio</title>
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
    </head>
<body>
        <header>
            <input type="checkbox" id="btn-menu">
            <label for="btn-menu"><img src="static/img/icon_menu.png" style="width: 100%;" alt=""/></label>
            <nav class="menu">
                <ul>
                    <li><a href="/inicio">Inicio</a></li>
                    <li><a href="/talleres">Talleres</a></li>
                    <li><a href="/referencias">Referencias</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
        </header>
        <div class="movie">
            Referencias
        </div>
        <div class="wrapper">
            <div class="credit">
                <div class="name">
                    en, A. (2020, December 13). Ansiedad en adolescentes: causas y tratamiento. CuidatePlus.
                    <div class="job">
                    <a href="https://cuidateplus.marca.com/familia/adolescencia/2020/12/13/">https://cuidateplus.marca.com/familia/adolescencia/2020/1213/</a>
                    </div>
                </div>
                <div class="name">
                Los adolescentes y la ansiedad • Psicopartner ®. Psicólogos Online. (2022, February 15). Psicopartner ®. Psicólogos Online.
                    <div class="job">
                    <a href="https://www.psicopartner.com/los-adolescentes-y-la-ansiedad/">https://www.psicopartner.com/los-adolescentes-y-la-ansiedad/</a>
                    </div> 
                </div>
                <div class="name">
                    Cárdenas, E., Feria, M., Palacios, L., De La Peña, F., Berenzon, S., Del Bosque, J., Alfaro, J., & Medina-Mora, M. (n.d.). CLÍNICAS PARA LA ATENCIÓN DE TRASTORNOS MENTALES.
                    <div class="job">
                        <a href="http://inprf-cd.gob.mx/guiasclinicas/trastornos_de_ansiedad.pdf">http://inprf-cd.gob.mx/guiasclinicas/trastornos_de_ansiedad.pdf</a>
                    </div>
                </div>
                <div class="name">
                    Ansiedad en los jóvenes, causas y tratamientos - Clic&Post. (2021, February 5). Clic&Post.
                    <div class="job">
                        <a href="https://clicandpost.com/psicologia/ansiedad-jovenes/">https://clicandpost.com/psicologia/ansiedad-jovenes/</a>
                    </div>
                </div>
                <div class="name">
                    Rey. (2017, May 23). 6 ejercicios para manejar la ansiedad. Mejor Con Salud. 
                    <div class="job">
                        <a href="https://mejorconsalud.as.com/ejercicios-manejar-la-ansiedad/">https://mejorconsalud.as.com/ejercicios-manejar-la-ansiedad/</a>
                    </div>
                </div>
                <div class="name">
                    Judith del Rio. (2021, May 2). La ansiedad, entre los principales efectos de la pandemia sobre la salud. La Vanguardia; La Vanguardia.
                    <div class="job">
                        <a href="https://www.lavanguardia.com/cribeo/estilo-de-vida/20210502/7420330/ansiedad-principales-efectos-pandemia-sobre-salud.html">https://www.lavanguardia.com/cribeo/estilo-de-vida/20210502/7420330/ansiedad-principales-efectos-pandemia-sobre-salud.html</a>
                    </div>
                </div>
                <div class="name">
                    La depresión adolescente durante la pandemia. (2021, February 18). Colegio Sn. Ángel de Poza Rica.
                    <a href="https://poza.sanangel.edu.mx/blog/la-depresi%C3%B3n-adolescente-durante-la-pandemia">https://poza.sanangel.edu.mx/blog/la-depresi%C3%B3n-adolescente-durante-la-pandemia</a>
                </div>
                <div class="name">
                    La depresión post pandemia en los jóvenes - Siquia Psicólogos Online. (2022, January 24). Siquia - Psicólogos Online.
                    <div class="job">
                        <a href="https://siquia.com/blog/depresion-post-pandemia-jovenes/">https://siquia.com/blog/depresion-post-pandemia-jovenes/</a>
                    </div>
                </div>
                <div class="name">
                    Depresión en adolescentes - Síntomas y causas - Mayo Clinic. (2021). Mayoclinic.org; 
                    <div class="job">
                        <a href="https://www.mayoclinic.org/es-es/diseases-conditions/teen-depression/symptoms-causes/syc-20350985">https://www.mayoclinic.org/es-es/diseases-conditions/teen-depression/symptoms-causes/syc-20350985</a>
                    </div>
                </div>
                <div class="name">
                    Magallón, M. (2015). ¿Qué es una terapia? Terapiaypsicologia.com.
                    <div class="job">
                        <a href="https://www.terapiaypsicologia.com/terapia/que-es-una-terapia">https://www.terapiaypsicologia.com/terapia/que-es-una-terapia</a>
                    </div>
                </div>
                <div class="name">
                    Tomas, C. (2015, April 23). En qué consiste una terapia o tratamiento psicológico|Psicológos Valencia - Tratamientos Psicológicos. Tratamientos Psicológicos.
                    <a href="https://tratamientospsicologicos.es/en-que-consiste-una-terapia-o-tratamiento-psicologico/">https://tratamientospsicologicos.es/en-que-consiste-una-terapia-o-tratamiento-psicologico/</a>
                </div>
                <div class="name">
                    R&A Psicólogos. (2017, April 25). Cuándo acudir a un psicólogo. R&a Psicólogos. 
                    <a href="https://www.ryapsicologos.net/cuando-acudir-a-un-psicologo/">https://www.ryapsicologos.net/cuando-acudir-a-un-psicologo/</a>
                </div>
                <div class="name">
                    Griffin, T. (2016, March 15). Cómo decirle a tu mejor amigo que estás deprimido. WikiHow; wikiHow. 
                    <div class="job">
                        <a href="https://es.wikihow.com/decirle-a-tu-mejor-amigo-que-est%C3%A1s-deprimido#:~:text=La%20mejor%20forma%20de%20empezar,raro%2C%20deprimido%2C%20molesto%5D.">https://es.wikihow.com/decirle-a-tu-mejor-amigo-que-est%C3%A1s-deprimido#:~:text=La%20mejor%20forma%20de%20empezar,raro%2C%20deprimido%2C%20molesto%5D.</a>
                    </div>
                </div>
                <div class="name">
                    Coates, H. (2020, October 24). Cómo ayudar a un amigo que tiene ansiedad. Vogue España; Vogue España.
                    <div class="job">
                        <a href="https://www.vogue.es/belleza/articulos/como-ayudar-amigo-con-ansiedad">https://www.vogue.es/belleza/articulos/como-ayudar-amigo-con-ansiedad</a>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>

<style type="text/css">
    body{
        font-family: Open Sans Condensed;
        background-color: #000;
        color: #fff;
    }
    .wrapper {
        overflow: hidden;
        width: 600px;
        height: 400px;
        background-color: black;
        position: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 80px;
    }
    .credit {
        position: relative;
        width: 200px;
        text-align: center;
        color: #fff;
        animation: 60s credits linear infinite;
        display: inline;  
    }
 
    .movie {
        margin-bottom: 50px;
        font-size: 50px;
        position: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        text-align: center;
    }

    .name {
        margin-bottom: 35px;
        font-size: 30px;
    }

    .job {
        margin-top: 5px;
        font-size: 15px;
    }

    .job a{
        color: #fff;
        text-decoration-color: #fff;
    }
 
    @keyframes credits {
        0% {
            top: 100%;
        }
        100% {
            top: -500%;
        }
        }
</style>